<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @share.user_id %>
</p>

<p>
  <b>Offer:</b>
  <%= @share.offer_id %>
</p>


<%= link_to 'Edit', edit_share_path(@share) %> |
<%= link_to 'Back', shares_path %>
