<%= form_for @event, :html => { :multipart => true } do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2>Basic Details</h2>
  <br />
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <br />
  <div class="field">
    <%= f.label :brand_name %>
    <%= f.text_field :brand_name %>
  </div>
    <br />
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <hr>
    <h2>Slider Photos</h2>
      <br />
  <div class="field">
    <%= f.label :picture1 %>
    <%= f.file_field :picture1 %>
  </div>
    <br />
  <div class="field">
    <p>Share tags for picture</p>
    <%= f.text_field :share_1 %>
  </div>
    <br />
  <div class="field">
    <%= f.label :picture2 %>
    <%= f.file_field :picture2 %>
  </div>
  <div class="field">
    <p>Share tags for picture</p>
    <%= f.text_field :share_2 %>
  </div>
  <br />
  <div class="field">
    <%= f.label :picture3 %>
    <%= f.file_field :picture3 %>
  </div>
  <div class="field">
    <p>Share tags for picture</p>
    <%= f.text_field :share_3 %>
  </div>
  <br />
  <div class="field">
    <%= f.label :picture4 %>
    <%= f.file_field :picture4 %>
  </div>
  <div class="field">
    <p>Share tags for picture</p>
    <%= f.text_field :share_4 %>
  </div>
  <br />
  <div class="field">
    <%= f.label :picture5 %>
    <%= f.file_field :picture5 %>
  </div>
  <div class="field">
    <p>Share tags for picture</p>
    <%= f.text_field :share_5 %>
  </div>
  <hr>
  <h2>
  <h2>Product Photos</h2>
  <br />
  
  <div class="field">
    <%= f.label :product1 %>
    <%= f.file_field :product1 %>
  </div>
  <div class="field">
    <%= f.label :product1_info %>
    <%= f.text_area :product1_info %>
  </div>
  <br />
  <div class="field">
    <%= f.label :product2 %>
    <%= f.file_field :product2 %>
  </div>
   <div class="field">
    <%= f.label :product2_info %>
    <%= f.text_area :product2_info %>
  </div>
  <br />
  <hr>   
  <h2>Highlight Boxes</h2>

  <div class="field">
    <%= f.label :start %>
    <%= f.date_select :start %>
  </div>
  <br />
  <div class="field">
    <%= f.label :end %>
    <%= f.date_select :end %>
  </div>
  <br />
  <div class="field">
    <%= f.label :open %>
    <%= f.text_area :open %>
  </div>
  <br />
  <div class="field">
    <%= f.label :map %>  
    <%= f.text_area :map %>
  </div>
  <div class="field">
   <p>Category (Food, Fashion, Art)</p>
    <%= f.text_field :tag1 %>
  </div>
  <div class = "field">
	 <p>City</p>
      <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :facebook %><br />
    <%= f.text_area :facebook %>
  </div>
  <div class="field">
  <p>Twitter embed code</p>
    <%= f.text_area :twitter %>
  </div>
  <div class="actions">
    <%= f.submit :class=>"btn btn-danger btn-large" %>
  </div>
<% end %>
