
			
		
		<div class="container" id="main-content">
			<div class="row">
				<div class="span12" id="headline">
				<h2>Discover Amazing Pop up Shops in <%= @user.city %>.</h2>
					<p>
					Hey There, we're glad you're here. Love Popup is excited to introduce you to the hottest pop up shops in your city. We're just getting started, so if there are any bugs or you have suggestions, <a href="contact">send us a note</a>. Gracias!
					</p>
					</div>

			<div class="headericons">
			<div class="span8">
			<ul class="nav nav-pills">
			<li><a href="/events/"><h3>ALL  <%= image_tag "allicon.png" %></h3></a></li>
			<li><a href="/events/?cat=Fashion"><h3>FASHION   <%= image_tag "fashionicon.png" %></h3></a></li>
			<li><a href="/events/?cat=Food"><h3>FOOD         <%= image_tag "foodicon.png" %></h3></a></li>
			<li><a href="/events/?cat=Art"><h3>ART           <%= image_tag "articon.png" %></h3></a></li>
			</ul>
			</div>
			</div>

					<div class="eventlist">
					<ul>
					<% @events .each do |e| %>
					
					<li><a href="/events/<%= e.id %>">
					<%= image_tag(e.picture1_url) %>
					<div class="eventtitlebox"></div>
					<span class="eventlisttitle"><%= e.title %></span>
					</a>
					</li>
					
					<% end %>
				</ul>
					
					</div>
					
				</div>
			</div>
		</div>
	