<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
		
		<div class="container" id="main-content">
			<div class="row">
				<div class="span12">
				<div class="categorybox">
				<div id="headline">
					<h2><%= @event.title %> </h2>
					</div>
					
<div class="span6 columns">
<div id="myCarousel" class="carousel slide">

<!-- Carousel items -->
<div class="carousel-inner">

<div class="active item">
<%= @event.share_1.html_safe %>
<%= image_tag @event.picture1_url, :class=> "pull-left" %>
</div>


<% if @event.share_2 %>
<div class="item">
<%= @event.share_2.html_safe %>
<%= image_tag @event.picture2_url, :class=> "pull-left" %>
</div>

<% end %>

<% if @event.share_3 %>
<div class="item">
<%= @event.share_3.html_safe %>
<%= image_tag @event.picture3_url, :class=> "pull-left" %>
</div>
<% end %>

<% if @event.share_4 %>
<div class="item">
<%= @event.share_4.html_safe %>
<%= image_tag @event.picture4_url, :class=> "pull-left" %>
</div>
<% end %>

<% if @event.share_5 %>
<div class="item">
<%= @event.share_5.html_safe %>
<%= image_tag @event.picture5_url, :class=> "pull-left" %>
</div>
<% end %>

</div>
<!-- Carousel nav -->
<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</div>
 <%= @event.share_tags %> 
					<h3>About</h3>
					<p> <%= @event.description %> 
					</p>			
					<h3>When <%= image_tag "whenicon.png" %></h3>
					<p><%= @event.start %> to <%= @event.end %>
					</p>
					<h3>Open</h3>
					<p><%= @event.open %>
					</p>
					<button type="submit" class="btn btn-danger btn-large">RSVP for Event</button>
					
				</div>
				
				
<div class="row">				
<div class="span4">
<div class="smallbox">
<h2>Shop Location  <%= image_tag "whereicon.png" %></h2>
<p><%= @event.map.html_safe %>  </p>
</div>
</div>

<div class="span4">
<div class="smallbox">
<h2>Sample Product</h2>
<p>Here is a taste!</p>
<%= image_tag @event.product1_url %>
<div><%= @event.product1_info.html_safe %> </div>
</div>
</div>

<div class="span4">
<div class="smallbox">
<h2>Tweet-a-licious  <%= image_tag "birdicon.png" %></h2>

<%= @event.twitter.html_safe %>

</div>
</div>
</div>


<div class="row">				
<div class="span4">
<div class="smallbox">
<h2>Sample Product</h2>
<p>Another taste!</p>
<%= image_tag @event.product2_url %>
<div><%= @event.product2_info.html_safe %>
</div>
</div>

<div class="span4">
<div class="smallbox">
<h2>Dior fan love  <%= image_tag "hearticon.png" %></h2>
<p>Fans galore!</p>
<%= @event.facebook.html_safe %>
</div>
</div>

<div class="span4">
<div class="smallbox">
<h2>Want to go?</h2>
<p>Do you want to attend the Dior pop-up event? Confirm & share with your friends on Facebook below:</p>
<button type="submit" class="btn btn-danger btn-large">Yes I'm Going!</button>

<br />
<p>
Note: 'Yes I'm Going is shared on Facebook'
</p>
</div>
</div>


		</div>		
		</div>
		</div>
		</div>
		
		
