<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
		
		<div class="container" id="main-content">
			<div class="row">
				<div class="span12">
				<div class="categorybox">
				<div id="headline">
					<h2><%= @event.title %> </h2>
					</div>
					
<div class="span6 columns">
<div id="myCarousel" class="carousel slide">

<!-- Carousel items -->
<div class="carousel-inner">

<div class="active item">
<a href="http://pinterest.com/pin/create/button/?url=www.facebook.com%2Ferikeliason&media=http%3A%2F%2F1.bp.blogspot.com%2F-ABenPjO8JTk%2FTs-JLAi&description=The%202012%20Fall%20line%20leader%3A%20shoe%2C%20ftw!%20" class="pin-it-button" count-layout="none"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a><%= image_tag @event.picture1_url, :class=> "pull-left" %>
<a id="FancyButton" href="http://www.thefancy.com/fancyit?
ItemURL=http://site.com/products/shirt
&Title=A%20nice%20Blue%20Shirt
&Category=Mens&ImageURL=http://site.com/images/shirt-blue.jpeg">Fancy</a>
<script src="http://www.thefancy.com/fancyit.js" type="text/javascript"></script>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="PopupWeekly">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<div class="item">
<a href="http://pinterest.com/pin/create/button/?url=www.facebook.com%2Ferikeliason&media=http%3A%2F%2F1.bp.blogspot.com%2F-ABenPjO8JTk%2FTs-JLAiJXxI%2FAAAAAAAAAiQ%2FLSiO689fhBc%2Fs1600%2FDior%2BHomme%2BDior%2Bfor%2Bmen.jpg&description=The%202012%20Fall%20line%20leader%3A%20shoe%2C%20ftw!%20" class="pin-it-button" count-layout="none"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
<%= image_tag @event.picture2_url, :class=> "pull-left" %>
</div>

</div>
<!-- Carousel nav -->
<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</div>

					<h3>About</h3>
					<p> <%= @event.description %> 
					</p>			
					<h3>When <%= image_tag "whenicon.png" %></h3>
					<p><%= @event.start %> to <%= @event.end %>
					</p>
					<h3>Open</h3>
					<p><%= @event.open %>
					</p>
					<button type="submit" class="btn btn-danger btn-large">RSVP for Event</button>
					
				</div>
				
				
<div class="row">				
<div class="span4">
<div class="smallbox">
<h2>Shop Location  <%= image_tag "whereicon.png" %></h2>
<p><%= @event.map.html_safe %>  </p>
</div>
</div>

<div class="span4">
<div class="smallbox">
<h2>Sample Product</h2>
<p>Here is a taste!</p>
<%= image_tag @event.product1_url %>
</div>
</div>

<div class="span4">
<div class="smallbox">
<h2>Tweet-a-licious  <%= image_tag "birdicon.png" %></h2>

<%= @event.twitter.html_safe %>

</div>
</div>
</div>


<div class="row">				
<div class="span4">
<div class="smallbox">
<h2>Sample Product</h2>
<p>Another taste!</p>
<%= image_tag @event.product2_url %>
</div>
</div>

<div class="span4">
<div class="smallbox">
<h2>Dior fan love  <%= image_tag "hearticon.png" %></h2>
<p>Fans galore!</p>
<%= @event.facebook.html_safe %>
</div>
</div>

<div class="span4">
<div class="smallbox">
<h2>Want to go?</h2>
<p>Do you want to attend the Dior pop-up event? Confirm & share with your friends on Facebook below:</p>
<button type="submit" class="btn btn-danger btn-large">Yes I'm Going!</button>

<br />
<p>
Note: 'Yes I'm Going is shared on Facebook'
</p>
</div>
</div>


		</div>		
		</div>
		</div>
		</div>
		
		
