
		
		<div class="container" id="main-content">
			<div class="row">
				<div class="span12">
				<div class="categorybox">
				<div id="headline">
					<h2><%= @event.title %> </h2>
					</div>
					
<div class="span6 columns">
<div id="myCarousel" class="carousel slide">

<!-- Carousel items -->
<div class="carousel-inner">

<div class="active item">
<%= image_tag @event.picture1_url, :class=> "pull-left" %>
</div>

<div class="item">
<%= image_tag @event.picture2_url, :class=> "pull-left" %>
</div>

</div>
<!-- Carousel nav -->
<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</div>

					<h3>About</h3>
					<p> <%= @event.description %> 
					</p>			
					<h3>When <%= image_tag "whenicon.png" %></h3>
					<p><%= @event.start %> to <%= @event.end %>
					</p>
					<h3>Open</h3>
					<p><%= @event.open %>
					</p>
					<button type="submit" class="btn btn-danger btn-large">RSVP for Event</button>
					<button type="submit" class="btn btn-large">Add to Watchlist</button>
				</div>
				
				
<div class="row">				
<div class="span4">
<div class="smallbox">
<h2>Shop Location  <%= image_tag "whereicon.png" %></h2>
<p>212 5th Street, NYC</p>
<iframe width="270" height="270" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?q=212+5th+avenue+new+york&amp;ie=UTF8&amp;hq=&amp;hnear=212+5th+Ave,+New+York,+10010&amp;gl=us&amp;t=m&amp;ll=40.744266,-73.989487&amp;spn=0.016257,0.021544&amp;z=14&amp;output=embed&iwloc=near"></iframe><br /><small><a href="http://maps.google.com/maps?q=212+5th+avenue+new+york&amp;ie=UTF8&amp;hq=&amp;hnear=212+5th+Ave,+New+York,+10010&amp;gl=us&amp;t=m&amp;ll=40.744266,-73.989487&amp;spn=0.016257,0.021544&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left"></a></small>

</div>
</div>

<div class="span4">
<div class="smallbox">
<h2>Sample Product</h2>
<p>Here is a taste!</p>
<%= image_tag "diorpic.jpg" %>
</div>
</div>

<div class="span4">
<div class="smallbox">
<h2>Tweet-a-licious  <%= image_tag "birdicon.png" %></h2>

<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 2,
  interval: 30000,
  width: 'auto',
  height: 210,
  theme: {
    shell: {
      background: '#ffffff',
      color: '#545154'
    },
    tweets: {
      background: '#ffffff',
      color: '#6b6b6b',
      links: '#e82c51'
    }
  },
  features: {
    scrollbar: true,
    loop: false,
    live: false,
    behavior: 'all'
  }
}).render().setUser('dior').start();
</script>
</div>
</div>
</div>


<div class="row">				
<div class="span4">
<div class="smallbox">
<h2>Sample Product</h2>
<p>Another taste!</p>
<%= image_tag "diortwo.JPG" %>
</div>
</div>

<div class="span4">
<div class="smallbox">
<h2>Dior fan love  <%= image_tag "hearticon.png" %></h2>
<p>Fans galore!</p>
<iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fdior&amp;width=270&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false&amp;appId=185906091473461" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:270px; height:258px;" allowTransparency="true"></iframe>
</div>
</div>

<div class="span4">
<div class="smallbox">
<h2>Want to go?</h2>
<p>Do you want to attend the Dior pop-up event? Confirm & share with your friends on Facebook below:</p>
<button type="submit" class="btn btn-danger btn-large">Yes I'm Going!</button>
<button type="submit" class="btn btn-large">Remind Me</button>
<br />
<p>
Note: 'Yes I'm Going is shared on Facebook'
</p>
</div>
</div>


		</div>		
		</div>
		</div>
		</div>
		
		
