<!DOCTYPE html>
<html>
<head>
  <title>Love Popup</title>
  <%= stylesheet_link_tag    "style.css"%>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tags %>
  <!DOCTYPE html>
		<meta charset="utf-8">
		<title>Bootstrap Business</title>
		<script>require jquery </script>
		<script> require jquery_ujs </script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">	
		<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>

		

	<link rel="icon" type="image/jpg" href="http://popupweekly.com/img/icon.png">
	

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>

	<body>
		
		<header>
			<div class="container">
				<div class="row">
					<h1 id="logo" class="span4"><a href="index.html" title="Business"><span class="red">LOVE</span> POPUP</a></h1>
					<nav class="span8" id="navigation">
					<ul class="nav nav-pills">
					<li><a href="index.html">About</a></li>
					<li class="active"><a href="2col.html">Invite</a></li>
					</ul>
					</nav>
				</div>
			</div>
			</header>
			
			<div class="subnav">	
			<div class="container">
			<nav class="span8">	
			<ul class="nav nav-pills">
			<li><a href="/events/?cat=fashion"><h3>FASHION   <%= image_tag "fashionicon.png" %></h3></a></li>
			<li><a href="/events/?cat=food"><h3>FOOD         <%= image_tag "foodicon.png" %></h3></a></li>
			<li><a href="/events/?cat=art"><h3>ART           <%= image_tag "articon.png" %></h3></a></li>
			</ul>
			</nav>
			</div>
			</div>
</head>
<body>

<%= yield %>
<footer>
			<div class="container">
				<div class="row">
				<div class="span4">
						<h4>Learn More About Us</h4>
						<ul class="unstyled">
							<li><a href="about">About</a></li>
							<li><a href="merchants">Merchants</a></li>
							<li><a href="ambassador">Ambassador Program</a></li>
							<li><a href="index.html">Blog</a></li>
							<li><a href="contact">Contact</a></li>

						</ul>
					</div>
					<div class="span4">
						<h4>Connect With Us</h4>
						<ul class="unstyled">
							<li><a href="http://pinterest.com/lovepopup/">Pinterest</a></li>
							<li><a href="https://www.facebook.com/pages/Popup-Weekly/334564433266070">Facebook</a></li>
							<li><a href="https://twitter.com/PopupWeekly">Twitter</a></li>
							<li><a href="https://plus.google.com/109671987086813263137">Google+</a></li>
							<li><a href="http://lovepopup.tumblr.com/">Tumblr</a></li>
						</ul>
					</div>
					<div class="span4">
						<h4>Explore Top Cities</h4>
							<ul class="unstyled">
							<li><a href="index.html">New York</a></li>
							<li><a href="index.html">Los Angeles</a></li>
							<li><a href="index.html">San Francisco</a></li>
							<li><a href="index.html">Boston</a></li>
							</ul>
					</div>
				</div>
			</div>
		</footer>
</body>
</html>
